@font-face {
  font-family: Lora;
  src: url('../fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: LoraBold;
  src: url('../fonts/Lora-Bold.ttf');
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Desktop View */
@media only screen and (min-width: 1024px){
  #container {width: 85%;margin: 0 auto;}
  .container-header{padding: 0 80px;}
  .header--grey {
    background-color: #8B999F;
    color: #fff;
  }
  .header__bar {display: flex;justify-content: space-between;margin-bottom: 50px;padding-top: 30px;}
  .header-bar__logo {
    display: flex;
    align-items:  center;
    flex-direction: row;
    width: 15%;
    justify-content: space-around;
}

  .header-bar__logo {
    cursor: pointer;
}
  .logo__image {

  }
  .logo__image img{
    width: 40px;
    height: auto;
  }
  .logo__label {
    font-weight: bold;
    font-size: 17pt;
  }

  .header-bar__menu {
    width: 20%;
    display: flex;
    align-items:  center;
    align-content:  center;
    font-weight: bold;
    justify-content:  space-around;
    font-size: 10pt;
}
  .button__support {
  cursor: pointer;
  }
  .button__login {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 75px;
    text-align: center;
    border-radius: 30px;
  }
  .button--darkgrey {
    background-color: #7D8C93;
  }
  .header__content {
  display: flex;
  }
  .header-content__par {
  width: 50%;
  }
  .par__header {
  font-size: 39pt;
  font-family: Lora;
  margin: 100px 0px 15px 0px;
  }
  .par__sub {
  font-size: 20.5pt;
  font-family: Calibri;
  }
  .par__container {
  margin: 10px 0;
  }
  .par__list {
  list-style-type: disc;
  list-style-position: inside;
  }
  .par__item {
  }
  .par__item span{
    position: relative;
    font-size: 11pt;
    left: -10px;
    font-weight: bold;
    line-height: 1.5;
  }
  .par__btn {
  margin: 25px 0;
  display: flex;
  height: 40px;
  justify-content:  space-between;
  width: 70%;
  }
  .par-button__main {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight:  bold;
  font-size: 10pt;
  cursor: pointer;
  }
  .button--lightred {
    background-color: #FC0D1B;
  }
  .par-button__ext {
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight:  bold;
  font-size: 10pt;
  cursor: pointer;
  }
  .button--lightgrey {
    background-color: #B8BFC1;
  }
  .header-content__img {
  width: 50%;
  display: flex;
  }
  .header-content__img img {margin: 0 auto;}
  .container-main {
  border: 1px solid rgb(217,221,223);
  border-bottom:  none;
  }
  .container-main__bar {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    border-bottom: 1px solid rgb(217,221,223);
    padding-bottom: 15px;
    padding-left: 80px;
    padding right:;
    padding-right: 80px;
  }
  .main__logo {
    display: flex;
    align-items:  center;
    flex-direction: row;
    width: 15%;
    justify-content: space-around;
    color: #4C5A60;
    cursor: pointer;
  }
  .menu__image {

  }
  .menu__image img {
    width: 40px;
    height: auto;
    filter: invert(0.6);
  }
  .menu__label {
    font-weight: bold;
    font-size: 17pt;
  }
  .main__menu {
  width: 55%;
  display: flex;
  align-items: center;
  }
  .menu__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 10.5pt;
  align-items: center;
  color: #8B999F;
  font-weight: bold;
  }
  .menu__item {
  letter-spacing: 0.5px;
  cursor: pointer;
  }
  .button__main {
  height: 40px;
  line-height: 40px;
  width: 160px;
  text-align: center;
  border-radius: 20px;
  font-size: 10pt;
  color: white;
  cursor: pointer;
  }
  
  .container-main__content {
  }

  .content__container {
    padding: 0 80px;
  }
  .content__intro {
  margin-top: 120px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(217,221,223);
  }

.content__intro {}
  .intro__row {
  display: flex;
  margin: 75px 0;
  }
  .move--left {flex-direction: row;}
  .move--right {
  flex-direction: row-reverse;
  }
  .intro__info {
  width: 55%;
  }
  .info--forceleft {
  width: 75%;
  }
  .intro__top {
  letter-spacing: 1px;
  }
  .top--lightred {
    color:#FC0D1B;
  }
  .intro__header {
  font-family: Times New Roman;
  font-size: 22pt;
  margin: 20px 0 30px 0;
  line-height: 1.25;
  }
  .header--deepblue {
  color: #08526D;
  }
  .intro__par {
  letter-spacing: 1px;
  font-size: 11pt;
  line-height: 1.5;
  }
  .intro__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content:  center;
  }
  .intro__container {
  }
  .move--forceleft {justify-content: left;}
  .intro__circle:before {
      background: none;
      border: 1px solid #EDEFEF;
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      pointer-events: none;
      border-radius: 50%;
  }
  .intro__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 205px;
  justify-content: center;
  width: 205px;
  border: 3px solid #EDEFEF;
  border-radius:  50%;
  position: relative;
  color: #EDEFEF;
  }
  .par {
  }
  .info {
  font-size: 44pt;
  color: #D7D7D7;
  }
  .content__service {
  margin-top: 100px;
  border-bottom: 1px solid rgb(217,221,223);
  padding-bottom: 30px;
  }
  .service__main {
  text-align: center;
  font-size: 28pt;
  margin: 50px 0;
  }
  .service__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction:  column;
    height: 500px;
  }
  .main--softgray {
  color: #8B999F;
  }
  .service__item {
  flex-grow: 1;
  width: 47%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  }
  
  .service__label {
    width: 70%;
  }

  .service__top {
  letter-spacing: 1px;
  }
  .service__header {
  font-family: Times New Roman;
  margin: 20px 0;
  font-size: 18pt;
  }
  .service__par {
  line-height: 1.5;
  font-size: 11pt;
  }

  .par__deepgray {
    color:#626262;
  }
  .service__img {
  width: 30%;
  text-align: center;
  }
  .content__testimony {
  margin-top: 120px;
  padding-bottom: 90px;
  border-bottom: 1px solid rgb(217,221,223);
  }

.content__testimony.testimony--softblue {}
  .testimony--softblue {
  }
  .testimony__main {
  }
  .testimony__item {
  }
  .testimony__vid {
  }
  .testimony__header {
  }
  .testimony__par {
  }
  .par--lightsoftblue {
  }
  .content__projects {
  margin-top: 120px;
  /* border-bottom: 1px solid rgb(217,221,223); */
  }
  .projects__main {
  }

  .projects__item {
  margin-bottom: 90px;
  }

  .projects__info {
  }
  .projects__top {
  }
  .projects__header {
  }
  .projects__par {
  }
  .projects__img {
  }
  .projects__top {
  }
  .projects__button {
    border-top: 1px solid rgb(217,221,223);
    padding: 70px 0;
  }
  .button__big {
  }

  .button__info {
  }
  .info--lightsoftblue {
  }
  .container-footer {
  }
  .footer--grey {
  }
  .container-footer__bar {
  }
  .footer__contact {
  }
  .contact__container {
  }
  .contact__list {
  }
  .contact__item {
  }
  .footer__menu {
  }
  .menu__container {
  }
  footer {
  }
}