/* BEM Mobile First Orientation */


/* Reference iPhone 6 dimension */


/* Load Up Fonts */

@font-face {
    font-family: helveticaSTD;
    src: url('../fonts/HelveticaLTStd-Roman.otf');
    src: url('../fonts/HelveticaLTStd-Roman.otf') format('opentype');
}

@font-face {
    font-family: helveticaBLD;
    src: url('../fonts/HelveticaLTStd-Bold.otf');
    src: url('../fonts/HelveticaLTStd-Bold.otf') format('opentype');
}

@font-face {
    font-family: aurulentSans;
    src: url('../fonts/AurulentSans-Regular.otf');
    src: url('../fonts/AurulentSans-Regular.otf') format('opentype');
}

/* Block Part */

* {
  font-family: aurulentSans;
}

.header {

  }

  .header-section {
    background: url('../img/header_bg2.jpg') no-repeat center;
    background-size: 100%;
    height: 280px;
    width: auto;
  }

  #header-section__background {
    height: 250px;
    padding: 15px;
    text-align: center;
  }

  .container {
    text-align: center;
    margin: 0 auto;
    width: 300px;
  }

    .content {}

      .content-section {
}

        .content-section__expertise {
    margin: 30px auto;
}

        .content-section__works {
}

        .content-section__projects {
    margin: 50px auto;
}

        .content-section__hire {}

.footer {
  
  }

  .footer-section {}


/* Element Part */

.header__logo {
  
  }

  .header__logo img {
    width: 35px;
    height: auto;
  }
  .header__package {
    margin: 35px auto;
  }
.header__label {
    margin: 20px auto;
    line-height: 1.25;
}

.header__button {
    width: 135px;
    margin: 0 auto;
    height: 20px;
    line-height: 22px;
}

.header__learnmore {}

    .section__exp {
    margin: 50px auto 10px auto;
}

    .section__info {
    margin: 10px auto 30px auto;
}

    .section__item {margin: 48px auto;}

      .item__icon {
    font-size: 20pt;
    margin: 10px auto;
}

      .item__label {margin: 10px auto;}

      .item__info {}

.works__wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  }

  .works__self {}

    .works__header {
      margin: 20px auto 10px auto;
    }

    .works__example {
      margin: 10px auto 30px auto;
    }

  .works__list {}

    .works__client {
    padding-top: 20px;
    padding-bottom: 20px;
}

      .client__header {}

      .client__area {
    margin: 5px auto;
    line-height: 1.25;
}

      .client__info {
        text-align: justify;
        margin: 10px auto 0 auto;
        line-height: 1.5;
      }

      .client__visitweb {
         margin: 0 auto 5px auto;
         float: right;
         display: flex;
         height: 20px;
         width: 109px;
         align-items:  center;
         justify-content: center;
         padding-top:  5px;
         clear: both;
      }

      .works__result {
    margin: 20px auto 0px auto;
    padding-top: 20px;
}
      .works__result img{
        width: 80%;
        height: auto;
      }

    .works__comment {
      padding-top: 5px;
      padding-bottom: 10px;
    }

      .comment__wrapper {}

        .comment__main {
    margin: 10px auto;
    line-height: 1.5;
}

        .comment__person {
    display: flex;
    align-items:  center;
}

          .person__pict {}

          .person__profile {
    text-align:  left;
}

.projects__wrapper {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

  .projects__top {
    margin: 15px auto;
    padding-bottom:  10px;
  }

    .projects__header {margin: 10px auto 10px auto;}

    .projects__info {
    line-height: 1.5;
}

  .projects__list {
    margin: 30px auto;
}

    .projects__item {
    margin: 0 auto 40px auto;
}

    .item__logo img {
        width: 80%;
        height: auto;
        border-radius: 5px;
    }

    .item__information {
    line-height: 1.5;
    margin-top:  10px;
}

.hire__wrapper {}

  .hire__top {}

  .hire__info {}

  .hire__button {}

.footer__made {}

  .footer__smlist {}

    .smlist__item {}

/* Modifier Part */
.background--full {

}

.label--bold,.button--bold,.section--bold,.item--bold,.works--bold,.header--bold,.hire--bold {
  font-family: helveticaBLD;
}

.section--header, .label--header, .item--header, .self--header, .projects--header {
  font-size: 16pt;
}

.item--nine {
  font-size: 9pt;
}

.section--ten, .works--ten, .info--ten, .main--ten, .profile--ten, .info--ten {
  font-size: 10pt;
}

.comment--topborder, .result--topborder {
  border-top: 1px solid #C2C2C2;
}

.pict--circle {
  clip-path: circle(45px at center);
}

.label--top {
    display: block;
}

.label--white, .button--white, .learnmore--white, .nextlearn--white {
  color: #fff;
}

.button--alphabg {
  background-color: rgba(0,0,0, 0.0);
  border: 1px #F8DB64 solid;
  border-radius: 15px;
}

.button--ss {
  font-size: 5pt;
}

.learnmore--light, .section--normal, .works--normal, .main--normal, .profile--light, {
  font-family: heveticaSTD;
  font-weight: lighter;
}

.learnmore--xs {
  font-size: 6pt;
}

.visitweb--mids {
  font-size: 7pt;  
}

.nextlearn--ms, .area--ms, .info--ms {
  font-size: 8pt;
}

.item--normal,.info--normal {
  font-family: helveticaSTD;
}

.item--overcolor {
  color: #F8DB64;
}

.item--gray,.profile--gray {color: #C2C2C2;}

.info--grayblck {
  color: #7f7f7f;
}

.item--lineheight {line-height: 2;}

.works--softcol {
  color: #64B7FF;
}

.works--link {
  text-decoration: none;
}

.works--color {
  background-color: #EEEEEE;
}

.header--top {
  font-size: 15px;
}

.header--left, .area--left, .visitweb--left {
  text-align: left;
}

.header--right, .area--right, .visitweb--right {
  text-align: right;
}

.area--softcol {
  color: rgb(177, 177, 177);
}

.visitweb--alphacol {
  background-color: rgba(0,0,0, 0.0);
  border: 2px #F8DB64 solid;
  border-radius: 20px;
}
.button--alphacol {

}

.hire--color {

}

/* Media Query for Desktop (Screen > 960px) */


/* Block Part */


/* Element Part */


/* Modifier Part */


.wrapper__visitweb {
  height: 30px;
}